// font-size
$font-smallesst: 11px;
$font-small: 12px;
$font-secondary: 14px;
$font-primary: 16px;
$font-medium: 18px;
$font-big: 20px;
$font-bigger: 22px;
$font-title-medium: 30px;
$font-title-big: 33px;

//font-size: bigger
$font-b-small: 34px;
$font-b-normal: 38px;
$font-b-big: 45px;
$font-b-bigger: 49px;
$font-b-biggest: 62px;
$font-b-large: 66px;

// color 
$color-primary: #20acee;
$color-light-blue: #a8e1fb;
$color-black: black;
$color-bg-white: #f1f1f1;
$color-bg-footer: #f6f6f6;
$color-text-white: white;

// line height
$line-height-small: 26px;
$line-height-medium: 28px;
$line-height-large: 30px;
$line-height-larger: 37px;
$line-height-largest: 40px;

//line-height: big
$lhb-small: 48px;
$lhb-normal: 60px;
$lhb-big: 72px;

// font weight
$font-light: 200;
$font-regular: 500;
$font-bold: 800;